:host {
  width: 100%;
  height: 100%;
  display: block;
  padding-inline: 2rem;
}

* {
  box-sizing: border-box;
}

main {
  width: fit-content;
  height: 100%;
  display: grid;
  justify-content: start;
  grid-template-areas:
    'sidebar chat';
}

